@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anek+Odia&family=Anton&family=Fira+Code:wght@400;600;700&family=Nunito&display=swap');

body {
	font-family: 'Fira Code', monospace;
	font-weight: 700;
	color: white;
	text-shadow: 1px 1px 5px black;
/*	background-image: linear-gradient(to right,#44667C,#33566D);  */
}

input{
    color: black;
}



